<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Geometry Dash LRR Demonlist">
    <meta property="og:description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <meta name="author" content="ryan9328">
    <meta name="keywords" content="ryan9328,official,geometry,dash,hardest,extreme,insane,demon,list,demonlist,hardest,levels,gmd,gd,typier,game,top,level,levels,player,players,geometry dash, LRR, 60hz, 60HZ, 75hz, 75HZ, geometry dash 60hz demonlist, GD 60hz list">
    <meta name="description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <title>GD LRR Demon List</title>
  <link href="https://gdlrrlist.com/CSS/levelcards.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/nav.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/list.css?v=2020-10-29" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body class = "" id="wesure">
    <!--<body style="background-color:white;">-->
      
    <%- include("../htdocs/navbar.ejs") %>

    <!-- <p><a href = "leaderboard.html">Leaderboard page</a></p>
    <p><a href = "Extendedlist.html">Extended page</a></p> -->
      
      <form>
<div style="display: grid; place-items: center;">
  <p style="text-align: center;">JUST AN FYI, YOU CANNOT LOG IN WITH DISCORD / GOOGLE UNLESS YOU ADD IT AS A SOCIAL TO YOUR LRR ACCOUNT</p>
  <p style="text-align: center;">Login: </p>
        <label>Username</label>
        <input type="text" placeholder="username" id="name-login"></input>
        <br>
        <label>Password</label>
        <input type="password" placeholder="password" id="password-login"></input>
        <br>
        <button type="button" onclick="dosmt('login')" style="border-radius: 25px; border: 2px solid #08c; background-color: #08c; color: white;"><p><img style="height: 25px; margin: -4px;" src="https://yt3.ggpht.com/ytc/AKedOLRUYvNQjc6nI7lD39a-UAXo6EwiMqRJLsG0F2wy=s900-c-k-c0x00ffffff-no-rj"></img>&nbsp;&nbsp;Log In</p></button>
      </div>
</form>
      <div style="display: grid; place-items: center;">
<br>
<button style="border-radius: 25px; border: 2px solid #0a0dbf; background-color: #0a0dbf; color: white;" onclick="window.location.href = 'https://discord.com/api/oauth2/authorize?client_id=1033274582855065704&redirect_uri=https%3A%2F%2Fgdlrrlist.com&response_type=code&scope=identify'"><p><img style="height: 25px; margin: -4px;" src="https://imgur.com/DXB750X.png"></img>&nbsp;&nbsp;Login with Discord</p></button>
<p>
      <button style="border-radius: 25px; border: 2px solid #9193f2; background-color: #9193f2; color: white;" onclick="window.location.href = 'https://gdlrrlist.com/google_signin'"><p><img style="height: 25px; margin: -4px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"></img>&nbsp;&nbsp;Login with Google</p></button>
<br>
      </div>
      <p id="deepin" style="text-align: center"></p>
      <p style="text-align: center;">Want to make a new account? Sign up here:</p>
<form>
      <div style="display: grid; place-items: center;">
        <label>Username</label>
        <input type="text" placeholder="username" id="name-signup"></input>
        <br>
        <label>Password</label>
        <input type="password" placeholder="password" id="password-signup"></input>
        <br>
        <label>Repeat password</label>
        <input type="password" placeholder="password" id="password2-signup"></input>
        <br>
        <button type="button" onclick="dosmt('signup')" style="border-radius: 25px; border: 2px solid #08c; background-color: #08c; color: white;"><p><img style="height: 25px; margin: -4px;" src="https://yt3.ggpht.com/ytc/AKedOLRUYvNQjc6nI7lD39a-UAXo6EwiMqRJLsG0F2wy=s900-c-k-c0x00ffffff-no-rj"></img>&nbsp;&nbsp;Sign Up</p></button>
      </div>
</form>
<p id="deeping" style="text-align: center"></p>
    <!-- scripts to include -->
     <script>
      (() => {
    if(localStorage.getItem("theme") == "dark") {
      document.getElementById("wesure").className = "dark-theme"
    } else {
      document.getElementById("wesure").className = ""
    }
  })()
    </script>
    <script src="JS/dropdown.js"></script><script src="JS/darkbutton.js?v=04-27-22"></script>
  </body>
</html>