<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Geometry Dash LRR Demonlist">
    <meta property="og:description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <meta name="author" content="ryan9328">
    <meta name="keywords" content="ryan9328,official,geometry,dash,hardest,extreme,insane,demon,list,demonlist,hardest,levels,gmd,gd,typier,game,top,level,levels,player,players,geometry dash, LRR, 60hz, 60HZ, 75hz, 75HZ, geometry dash 60hz demonlist, GD 60hz list">
    <meta name="description" content="A demon list dedicated to low-refresh-rate (60hz, 75hz, Mobile) Geometry Dash players.">
    <title>GD LRR Demon List</title>
  <link href="CSS/levelcards.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="CSS/nav.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="CSS/list.css?v=2020-10-29" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body class = "" id="wesure">
    <!--<body style="background-color:white;">-->
      
    <%- include("../htdocs/navbar.ejs") %>
    
    <!-- <p><a href = "leaderboard.html">Leaderboard page</a></p>
    <p><a href = "Extendedlist.html">Extended page</a></p> -->
      <h1 style = "text-align:center">LRR Demon List Level Deleting form</h1>

    <form action="/deletelevel" method="post">
      <div style="display: grid; place-items: center;">
        <label>Name</label>
        <br>
        <input type="text" placeholder="name" name="name" required></input>
        <br></br>
        <label>Reason?</label>
        <br>
        <input type="text" placeholder="reason" name="reason"></input>
        <br></br>
        <button type="submit" style="border-radius: 15px; font-size: 40px;">Submit</button>
        <br></br>
      </div>
    </form>

    <!-- scripts to include -->
      <script>
      (() => {
    if(localStorage.getItem("theme") == "dark") {
      document.getElementById("wesure").className = "dark-theme"
    } else {
      document.getElementById("wesure").className = ""
    }
  })()
    </script>
    <script src="JS/dropdown.js"></script><script src="JS/darkbutton.js"></script>
  </body>
</html>