<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>GD LRR Demon List</title>
    <link href="https://gdlrrlist.com/CSS/levelcards.css?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.com/CSS/nav.css?v=2021-07-30" rel="stylesheet" type="text/css" />
    <link href="https://gdlrrlist.comCSS/changelog.css?v=2020-10-05" rel="stylesheet" type="text/css" />
     <link href="https://gdlrrlist.com/CSS/table?v=2021-03-23" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Bitter:light,bold">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/b65d578950.js" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body class = "" id="wesure">
    <!--<body style="background-color:white;">-->
      <%- include("../htdocs/navbar.ejs") %>
   <div style="display: flex; padding-top: 25vh; justify-content: center;">
      <button style="width: 500px; height: 500px; margin-right: 50px;"><h1>WebSocket</h1><img src="https://docs.loriot.io/download/attachments/1248749/websocket-logo.png?version=1&modificationDate=1596449498920&api=v2" width="290px" height="247px">
      <h4>Use the LRR WebSocket to listen to events real time!</h4></button>
    
     <button style="width: 500px; height: 500px;" onclick="window.location.href = '/documentation/api'"><h1>API</h1><img src="https://www.tableau.com/sites/default/files/2021-09/EmbeddingJSAPI.png" width="242px" height="247px"><h4>Use the LRR List API to power your application via the REST interface!</h4></button>
   </div>

    <!-- <p><a href = "leaderboard.html">Leaderboard page</a></p>
    <p><a href = "Extendedlist.html">Extended page</a></p> -->
    
    <script src="JS/dropdown.js"></script><script src="JS/darkbutton.js?v=2022-07-30"></script>
    <script src="https://gdlrrlist.com/extrascripts/sheets.js"></script>
  </body>
</html>